.testSVG path:hover{
    opacity: 0.6 !important;
    cursor: pointer;
}
.testSVG{
    max-width: 100%;
}

#tooltip {
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
