.mapSVG path:hover{
    opacity: 0.6 !important;
    cursor: pointer;
}
.mapSVG{
    max-width: 100%;
}

#tooltip {
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.mapContainer{
    width: 700px;
    height: 900px;
}

@media screen and (max-width:1070px){
    .mapContainer{
        width: 600px;
        height: auto;
    }
}
@media screen and (max-width:880px){
    .mapContainer{
        width: 450px;
        height: auto;
    }
}
@media screen and (max-width:800px){
    .mapContainer{
        width: 400px;
        height: auto;
    }
}
@media screen and (max-width:414px){
    .mapContainer{
        width: 414px;
        height: auto;
    }
}
@media screen and (max-width:411px){
    .mapContainer{
        width: 380px;
        height: auto;
    }
}
@media screen and (max-width:375px){
    .mapContainer{
        width: 340px;
        height: auto;
    }
}