/* Stylesheet for the charity information resource website */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) 
   Altered - used to be max-width: 600px
*/
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
  }
    #websiteLogo {display: none;}
    #websiteNameText {
      font-size:2em !important; 
      margin-left:15px !important;
      margin-top:15px !important;
  }

    h1 {padding-left:0 !important; text-align: center !important;}
    #asideContainer {margin: 0 !important; padding: 0 15px !important;}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) 
     Altered - used to be max-width: 600px
  */
@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
   }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
   }
 }
  /* When screen is less than 1024px wide (Tablet devices) */
@media screen and (max-width: 1024px) {
    #navTop {padding:0 0 0 0;}
    #navBottom {padding:0 0 0 0;}
    h1 {padding-left:0px;}
    .content {padding: 0 15px !important;}
    .footer-content {padding-left: 15px !important;}
    #flickityCarousel {margin:0 !important;}
}



/* Main Element Styling */
html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
h1 {
  color: #222e50
}
h4 {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  text-align: justify;
}
#websiteNameText {
  font-size: 3em; 
  color: #ffffff; 
  margin-left: 30px;
}
/* Colours */
.dark-blue {
    background-color: #222e50;
}
.dark-blue-text {
    color: #222e50;
}
.light-blue {
    background-color: #007bff;
}
.light-blue-text {
    color: #007bff;
}
.white-link-text{
  color: #ffffff;
  text-decoration: none;
}

/* Custom Menu Stylings */
.topnav1 {
    background-color: #222e50;
    overflow: hidden;
    display: flex;
    align-items:center;
    padding:20px 100px 20px 100px;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #222e50;
    overflow: hidden;
    padding: 0px 100px 0px 100px;
}  
  /* Style the links inside the navigation bar */
.topnav a {
     float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #222e50;
}  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.thinborder{
	border: 1px solid #222e50;
	border-radius: 5px !important;
}

/* CSS Grid Layout Styling */
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
  padding-left:100px;
}
.sideTop {
  grid-area: sidebarTop;
}
.sideBottom {
  grid-area: sidebarBottom;
}
.main-footer {
  grid-area: footer;
  background-color: #222e50;
  margin-top: 300px;
  padding-bottom: 50px;
}
.footer-content {
  padding-left:100px; 
  color: #ffffff; 
  padding-top:20px;
  font-size: 10px;
}
.container {
  display: grid;
  grid-gap: 20px;
  grid-column-gap: 50px;
  grid-template-areas: 
    "header"
    "content"
    "sidebarTop"
    "sidebarBottom"
    "footer";
}
/* CSS GRID MEDIA QUERIES - DO NOT MOVE*/
/* Altered - used to be min-width: 500px*/
@media screen and (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "content     content"
      "sidebarTop content"
      "sidebarBottom      footer";
  }
}
@media screen and (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "content    content sidebarTop"
      "content    content sidebarBottom"
      "footer footer  footer"
   }
}

/* Inputs, Links, Buttons Etc Styling */
input[type=text] {
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  width: calc(100% - 75px);
}
#inputPostcode {
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 5000px){#inputPostcode{width: 10%;}}
@media screen and (max-width: 700px){#inputPostcode{width: calc(100% - 75px);}}
#jobTitleInput {
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (max-width: 5000px){#jobTitleInput{width: 40%;}}
@media screen and (max-width: 700px){#jobTitleInput{width: calc(100% - 75px);}}
input[type=text]:focus {border-color:#222e50; }  
input[type=submit] {
  padding:8px 15px; 
  background:#007bff; 
  color: #ffffff; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size:14px;
  font-weight: bold;
}
input[type=submit]:hover {
  background: #222e50;
}
.quickLink {
  text-decoration: none;
  color: #007bff;
}
.quickLink:hover {
  color: #222e50;
}
.carousel img {
  display: block;
  height: 200px;
}

/* Breadcrumb Styling */
/* Style the list */
ul.breadcrumb {
  padding: 0;
  list-style: none;
  background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
  font-weight: bold;
  color: #222e50;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #222e50;
  content: ">\00a0";
  font-weight: normal;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #222e50;
  text-decoration: none;
  font-weight: normal;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Loading 'Screen' CSS Code 
    Source: https://smallenvelop.com/display-loading-icon-page-loads-completely/
*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loading.gif) center no-repeat #fff;
}

.vacancy{
	border: 1px solid #222e50;
  border-radius: 5px !important;
  padding: 10px 30px 10px 30px;
  margin-bottom: 20px;
  text-align: justify;
}

@media screen and (max-width: 400px){.vacancy{font-size: 0.71em;}}

.msp-box{
	border: 1px solid #222e50;
  border-radius: 5px !important;
  padding: 10px 30px 10px 30px;
  margin-bottom: 20px;
}